.latest-news {
  &__title {
    color: theme-color('primary');
    font-family: $font-serif;
    font-size: 22px;
    font-weight: 900;
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    border-bottom: 1px solid theme-color('transparent_very_light');
    list-style-type: none;
    margin-bottom: 1rem;
  }

  &__list-item-title {
    color: theme-color('dark');
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
  }
}
