body {
  overflow-x: hidden;

  .site-container {
    position: relative;
    transition: transform $common-transition-duration;

    .page-container {
      .mobile-nav-menu-overlay {
        background-color: theme-color('transparent_light');
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
  }

  .nav-primary--mobile {
    background-color: theme-color('dark');
    left: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 100%;

    .nav {
      display: block;
    }

    .menu-item > a {
      border-bottom: 1px solid theme-color('medium');
      color: theme-color('base');
      display: block;
      font-size: 22px;
      padding: 1em 2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: all $common-transition-duration;
    }

    .menu-item.current_page_item > a {
      background-color: theme-color('base');
      color: theme-color('dark');
    }

    .menu-item.current_page_ancestor > a {
      background-color: theme-color('dark');
      color: theme-color('base');
    }

    .menu-item > a:hover {
      background-color: theme-color('base');
      color: theme-color('dark');
    }

    .sub-menu {
      padding-left: 0;

      .menu-item > a {
        text-transform: capitalize;
        padding-left: 4em;
      }
    }
  }

  &.mobile-nav-menu-open {
    overflow-y: hidden;

    .site-container {
      height: 100vh;
      transform: translate3d(-100%, 0, 0);

      .page-container {
        .mobile-nav-menu-overlay {
          cursor: pointer;
          z-index: 1;
        }
      }
    }
  }
}
