# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/acf-json/
web/app/upgrade
web/app/languages
web/app/themes/victcomm2/meta/
web/app/uploads/*
!web/app/uploads/.gitkeep
**/*.sql

# WordPress
web/wp
web/.htaccess
web/app/themes/
!web/app/themes/radcliffe/
!web/app/themes/radcliffe-child/
!web/app/themes/victcomm2/

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
meta/
