
.banner {
  background-color: theme-color('dark');
  margin-bottom: 2px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    li {
      @extend .nav-item;

      &.current-menu-ancestor {
        font-weight: 700;
      }
    }

    a {
      color: theme-color('base');
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0.5rem 0.5rem;
      text-transform: uppercase;
    }

    .dropdown-menu {
      $shadow-depth: 5px;

      background-color: theme-color('base');
      border-radius: 0;
      border-top: none;
      box-shadow: 0 1px $shadow-depth 0 rgba(0, 0, 0, 0.3);
      margin-top: 0;
      padding-bottom: 0;
      padding-top: 0;
      position: absolute;

      li {
        border-left: solid 0.5rem theme-color('light');
        list-style: none;
        margin-top: 2px;
        transition: border-left-color $common-transition-duration;

        &:first-child {
          margin-top: 0;
        }

        a,
        a:active {
          color: theme-color('dark');
          background-color: theme-color('base');
        }

        &.current-menu-item,
        &:hover {
          border-left-color: theme-color('dark');
        }
      }
    }

    .dropdown.menu-item-has-children:hover {
      &::after {
        $size: 10px;

        background-color: transparent;
        border-bottom-color: theme-color('base');
        border-left-color: transparent;
        border-right-color: transparent;
        border-style: solid;
        border-top: none;
        border-width: $size;
        content: '';
        display: block;
        height: 2 * $size;
        margin: auto;
        transform: translateY(-2 * $size);
        width: 2 * $size;
      }

      .dropdown-menu {
        display: block;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-header {
      padding: 0;
    }
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav li:hover .sub-menu {
    display: block;
  }

  .nav-primary {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: flex-end;
    }

    .menu-main-menu-container {
      height: 100%;

      & > ul {
        height: 100%;
      }
    }
  }
}

.brand {
  color: theme-color('base');
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;

  &:hover {
    color: theme-color('base');
    text-decoration: none;
  }

  &__image {
    height: 2rem;
    margin-right: 1rem;
  }

  &__text {
    font-family: Merriweather, serif;
    font-size: 16px;
    line-height: 1;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }
}

.page-header {
  $vertical-spacing-mobile: 2.5rem 0 1rem;
  $vertical-spacing-landscape: 3em 0 2em;

  margin: $vertical-spacing-mobile;

  @include media-breakpoint-up(lg) {
    margin: $vertical-spacing-landscape;
  }

  h1 {
    font-family: Merriweather, serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1;

    @include media-breakpoint-up(lg) {
      font-size: 64px;
    }
  }

  &--front-page {
    background-color: theme-color('primary');
    color: theme-color('base');
    margin: 0 0 1.5rem;
    padding: $vertical-spacing-mobile;

    @include media-breakpoint-up(lg) {
      margin: 0 0 2rem;
      padding: $vertical-spacing-landscape;
    }

    h1 {
      color: theme-color('base');
      margin-bottom: 0;
    }
  }
}

.mobile-nav-menu-container {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: flex-end;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobile-nav-menu-button {
  background-color: inherit;
  border: none;
  color: theme-color('base');
  font-size: 19px;
  font-weight: 500;
  padding: 0.5em;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}
