.content {
  font-family: $font-sans-serif;
  font-size: 16px;
  font-weight: 300;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }

  a {
    text-decoration: underline;
  }

  .btn {
    text-decoration: none;
  }

  h1 {
    font-family: $font-serif;
    font-size: 24px;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  h2 {
    font-family: $font-serif;
    font-size: 18px;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  h3 {
    font-family: $font-sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  h4 {
    font-family: $font-sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-family: $font-sans-serif;
  }

  blockquote p {
    color: theme-color('medium_light');
    font-size: 20px;
    font-family: $font-serif;
    font-style: italic;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  .row {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 3rem;
    }
  }

  strong {
    font-weight: 600;
  }

  ul {
    padding-left: 18px;
  }
}

.highlighted {
  background-color: theme-color('light');
  margin-bottom: -2rem;
  padding: 2rem 0;
}

.news-thumbnail {
  border: solid 1px theme-color('medium_light');
  margin-bottom: 1rem;
  width: 100%;
}

.tweet {
  margin-bottom: 1.5rem;
  margin-top: 1rem;

  .fa {
    border-top: 2px solid theme-color('medium');
    display: block;
    height: 0.5rem;

    &::before {
      background-color: theme-color('light');
      color: theme-color('twitter_blue');
      position: relative;
      top: -10px;
    }
  }
}

i.text-input-button {
  $size: 38px;

  align-items: center;
  background-color: theme-color('secondary');
  border-radius: 3em;
  color: theme-color('base');
  display: flex;
  font-weight: 400;
  font-style: normal;
  height: $size;
  justify-content: center;
  padding: 0 1em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;

  &--circle {
    font-size: 20px;
    padding: 0;
    width: $size;
  }
}

