.content {
  font-size: 24px;
  font-family: $font-sans-serif;

  a {
    text-decoration: underline;
  }

  blockquote {
    color: theme-color('medium');
    font-size: 2rem;
    font-family: $font-serif;
    font-style: italic;
  }

  h1,
  h2 {
    font-family: $font-serif;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-weight: 300;
  }
}
