.content {
  font-family: $font-sans-serif;

  a {
    text-decoration: underline;
  }

  blockquote {
    color: theme-color('medium');
    font-size: 18px;
    font-family: $font-serif;
    font-style: italic;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }

  h1 {
    font-family: $font-serif;
    font-size: 24px;

    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  h2 {
    font-family: $font-serif;
    font-size: 18px;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  h3 {
    font-family: $font-sans-serif;
    text-transform: uppercase;
  }

  p {
    font-weight: 300;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  .row {
    margin-bottom: 3rem;
  }

  strong {
    font-weight: 600;
  }
}
