html {
  background-color: theme-color('dark');
  font-family: $font-sans-serif;
}

body {
  background-color: theme-color('base');
  position: relative;
}

h1 {
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}

.btn {
  border-radius: 2em;
  font-size: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.site-container {
  background-color: theme-color('dark');
}

.page-container {
  background-color: theme-color('base');
}

#wpadminbar {
  position: fixed;
}
