/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$common-transition-duration: 0.3s;

$font-serif: 'Merriweather Black', serif;
$font-sans-serif: Barlow, sans-serif;

$theme-colors: (
  base: #fff,
  dark: rgb(15, 2, 40),
  light: rgb(246, 245, 247),
  medium: #666,
  medium_light: rgb(124, 117, 136),
  primary: rgb(166, 15, 81),
  secondary: rgb(64, 54, 82),
  transparent_dark: rgba(0, 0, 0, 0.8),
  transparent_light: rgba(0, 0, 0, 0.3),
  transparent_very_light: rgba(0, 0, 0, 0.1),
  twitter_blue: rgb(85, 173, 238)
);

$mobile-nav-width: 30rem;

